 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

 html {
   scroll-behavior: smooth;
   scroll-padding-top: 100px;
 }

 * {

   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 :root {
   --primary-hue: 0;
   --primary-saturation: 84%;
   --primary-lightness: 44%;
   --color-primary: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   --color-secondary: #37373F;
   --font-primary: 'Amatic SC', sans-serif;
   --font-secondary: "Inter", sans-serif;
   --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   --color-tertiary: hsla(240, 4%, 53%, 1);
   --margin-top: 3.125rem;
   --margin-bottom: 3.125rem;
   --color-light-grey: #eee;
   --padding: 2.5rem 0.3125rem;
   --color-white: #fff;
   --animation-duration: 600ms;
   --gap: 0.9375rem;
 }

 body {
   font-family: var(--font-default);

 }


 .container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: var(--font-secondary);
 }

 nav {
   background-color: #fff;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 9999;
   padding: 17px;
   box-shadow: 0px 1px 12px rgb(0, 0, 0, 25%);

 }

 nav .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .container>img {
   width: 10.5%;
 }

 nav .container>ul {
   display: flex;
   justify-content: space-evenly;
   width: 38%;
 }

 ul {

   list-style: none;
 }

 nav>.container a {

   text-decoration: none;
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--color-tertiary);
   cursor: pointer;
 }



 .icon {
   font-size: 1.5rem;
 }

 nav ul li a::after {
   content: '';
   display: block;
   width: 0;
   height: 2px;
   margin-top: 7px;
   background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   transition: all 0.2s ease-in;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in 1s;
 }

 nav ul li a:hover {

   color: #000;
 }

 nav ul li a:hover::after {
   width: 100%;
   /* Full width of the link on hover */

 }

 /* <!--  -----      end navbar   --------- -->
 <!--  -----      Start Home  --------- --> */

 a {
   text-decoration: none;
 }


 header {
   background-color: var(--color-light-grey);
   overflow: auto;
 }



 header .container>* {
   width: 40%;
 }



 header .container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 5.9375rem;
   padding: 40px 5px;
 }

 header .container picture img {

   width: 100%;
   filter: drop-shadow(4px 4px 9px #000a);
 }

 h2:has(br) {
   color: var(--color-secondary);
   font-family: var(--font-primary);
   font-size: 4.0625rem;
 }

 .header-content p {
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   color: var(--color-tertiary);
 }

 .header-content .btn-groub {
   display: flex;
   gap: 2.5rem;
   align-items: center;
 }

 .header-content .btn-groub .btn-main {
   background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   color: var(--color-white);
   border: 5px solid hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   padding: 10px 20px;
   border-radius: 0px 30px 30px 20px;
 }


 .btn-groub .video-btn {
   display: flex;
   align-items: center;
   font-weight: 600;
   transition: color 400ms;

 }

 .video-btn:hover {
   color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
 }


 .video-btn .icon {
   width: 3.4375rem;
   height: 3.4375rem;
   border-radius: 50%;
   background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   margin-right: 0.3125rem;
   position: relative;
 }

 .video-btn .icon i {
   z-index: 5;
 }


 .video-btn .icon::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--color-white);
   width: 2.5rem;
   height: 2.5rem;
   border-radius: inherit;
 }

 /* <!--  -----      end Home   --------- -->
 <!--  -----      Start chefs  --------- --> */

 #chefs .container,
 #Contact .container {
   /* margin-top: var(--margin-top); */
   margin-bottom: var(--margin-bottom);
   padding: var(--padding);

 }

 #chefs .main-title,
 #Contact .main-title {
   text-align: center;
   margin-top: var(--margin-bottom);
   margin-bottom: 1.5625rem;
   overflow: hidden;
 }

 .main-title h2,
 .text-center h2 {
   color: var(--color-tertiary);
   font-family: 'Inter', sans-serif;
   font-weight: 800;
   font-size: 0.875rem;
   text-transform: uppercase;
 }

 .main-title p,
 .text-center p {
   font-size: 3.125rem;
   font-family: var(--font-primary);
 }

 .main-title p span,
 .text-center p span {

   color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
 }


 #chefs .container .lower-chefs {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   gap: 1.875rem;

 }

 .lower-chefs figure {
   width: calc(100%/3);
   text-align: center;
   box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
   border-radius: 0.5rem;
   overflow: hidden;
   transition: transform 400ms;

 }

 .lower-chefs figure:hover {
   transform: scale(1.07);
 }

 .lower-chefs figure picture {
   position: relative;

 }

 .lower-chefs figure picture img {
   width: 100%;
 }

 figure picture:before {
   content: " ";
   background-image: url('../images/team-shape.svg');
   position: absolute;
   top: 159px;
   width: 100%;
   height: 3.75rem;
   background-repeat: repeat-x;

 }



 /* <!--  -----      end chefs --------- -->
  <!--  -----      Start end --------- --> */

 #gallery,
 footer {
   background-color: var(--color-light-grey);
   overflow: hidden;

 }


 #gallery .container {
   margin-top: var(--margin-top);
   margin-bottom: var(--margin-bottom);
   padding: var(--padding);

 }

 .col-4 .mb-3 {

   position: relative;
   overflow: hidden;
 }

 .mb-3 img {
   padding: 0;
   display: block;
   width: 100%;
   transition: scale var(--animation-duration) linear;
 }

 .mb-3 .overlay {
   background-color: #00000096;
   position: absolute;
   top: 100;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0;
   transition: height var(--animation-duration) ease-out;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;

 }

 .mb-3:hover img {
   transform: scale(1.17);
 }

 .mb-3:hover .overlay {
   height: 100%;

 }

 .overlay h2 {
   color: var(--color-white);
 }

 .overlay p {
   color: #ddd;
   text-align: center;
 }

 /* <!--  -----      end gallery --------- -->

    <!--  -----      Start CONTACT --------- --> */

 #Contact .map iframe {
   width: 100%;
 }



 #Contact .details {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: var(--gap);
   margin-top: 25px;
   margin-bottom: 25px;

 }

 #Contact .details>* {
   width: calc(calc(100% - var(--gap)) / 2);
   background-color: var(--color-light-grey);
   display: flex;
   align-items: center;
   padding: 0.8rem
 }



 .details .icon {
   background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   min-width: 3.125rem;
   min-height: 3.125rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
 }

 form {
   display: flex;
   flex-direction: column;
   gap: var(--gap);
   align-items: center;
 }

 form>*:not(button) {
   width: 100%;
 }

 form .input-group {
   display: flex;
   justify-content: space-between;
   gap: var(--gap);
 }

 .input-group>* {
   width: calc(calc(100% - var(--gap)) / 2);
 }

 form textarea {
   min-height: 9.375rem;
   max-height: 18.75rem;
   resize: vertical;
 }

 form :is(input, textarea) {
   padding: 0.9375rem 0.9375rem;
   font-family: inherit;
   line-height: 1.5;
   border: 5px solid var(--color-light-grey);
   color: #212529;
   transition: border-color var(--animation-duration);
 }

 form :is(input, textarea):hover {
   border-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
 }

 form .btn-main {
   background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   color: var(--color-white);
   border: 5px solid hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   padding: 10px 20px;
   border-radius: 30px;
   width: fit-content;
 }



 /* <!--  -----      Start footer --------- --> */


 footer {
   background-color: #000;
 }

 footer .container {
   display: flex;
   gap: var(--gap);
   color: #fff;
   margin-bottom: var(--margin-bottom);
   padding: var(--padding);
 }

 footer .container>* {
   width: calc(calc(100% - var(--gap)) / 3);

 }

 footer .about p {
   margin-block: 0.625rem;
 }

 .container .about h3 {
   text-align: center;
   padding: 0.625rem;
   border-bottom: 2px solid #ddd6;
   margin-bottom: 0.625rem;

 }

 .container .about ul {
   display: flex;
   justify-content: space-around;

 }


 .container .about ul li {
   font-size: 1.5rem;

 }

 footer .btn-main {
   background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   color: var(--color-white);
   border: 1px solid hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
   padding: 10px;
   width: fit-content;
 }

 .sub-box p {
   margin-top: 30px;
   margin-bottom: 30px;
 }

 .sub-box .sub-groub {
   display: flex;
   width: 100%;
   gap: var(--gap);

 }

 .sub-box .sub-groub input {

   width: 70%;
 }

 footer .quicK-linKs ul {
   display: flex;
   flex-wrap: wrap;
   width: 100%;

 }

 footer .quicK-linKs ul li {
   width: 50%;

 }

 footer .quicK-linKs ul li a {
   color: #fff;
 }

 .contact-details h3 {
   margin-bottom: 30px;
 }

 footer .quicK-linKs ul li::before {
   content: "\f105";
   font: var(--fa-font-solid);
   margin-right: 5px;
 }

 .contact-details li {
   display: flex;
 }

 .contact-details li i {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 12px;
 }








 @keyframes vibration {
   0% {
     transform: translate(0, 0);
   }

   20% {
     transform: translate(-2px, -2px);
   }

   40% {
     transform: translate(2px, 2px);
   }

   60% {
     transform: translate(-2px, 2px);
   }

   80% {
     transform: translate(2px, -2px);
   }

   100% {
     transform: translate(0, 0);
   }
 }

 .vibrating-element:hover {
   animation: vibration 0.5s infinite;
   transition: transform 0.5s;
 }






























 /* Small */
 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

 /* Medium */
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }

   header .container > * {
     width: 40%;
   }
 }

 /* Large */
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }